# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Uploads / outputs temporales
tmp/
uploads/
outputs/

# IDE / editor
.vscode/
.idea/
*.swp

# Claude Code
.claude/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
